body{
	background: #EEE;
	font-family: "Lato", sans-serif;
	margin: 0;
}
*{
	box-sizing: border-box;
}
.header{
	color: #FFF;
	background: #333;
	padding: 15px;
}
.header h1{
	margin: 0;
}

.message{
	padding: 15px;
	background: #fffad8;
}

.welcome input{
	font-size: 25px;
}

/* wall */
.wall{
	padding-top: 10px;
	padding-bottom: 50px;
	display: flex;
	/* APPLE THIS IS 2015!!!!!!!!! */
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wall .item{
	min-width: 200px;
	max-width: 200px;
	margin-bottom: 15px;
	padding: 5px;
	background: none;
	transition: 0.3s all linear;
}
.wall .item.selected{
	background: #333;
	color: #FFF;
	border-radius: 2px;
}
.wall .art{
	cursor: pointer;
	width: 190px;
	height: 190px;
}

.track_name{
	font-weight: 600;
}
.track_name, .artist_name{
	overflow: hidden;
	max-height: 20px;
}

/* now playing */
.bottomBar{
	position: fixed; bottom: 0; left: 0; right: 0;
}
.bottomBar .more{
	opacity: 0;
	transition: 0.2s opacity linear;
	background: #CCC;
}
.bottomBar:hover .more{
	opacity: 1;
}
.bottomBar .more a{
	color: #000;
	padding: 15px;
	display: inline-block;
}
.bottomBar .more a:hover{
	background: #DDD;
}
.nowplaying{
	background: #333;
	color: #FFF;
	/* again 2015 */
	display: -webkit-flex;
	display: flex;
}
.nowplaying .req{
	min-width: 60px;
}
.nowplaying .art{
	height: 45px;
	min-width: 45px;
}
.nowplaying > * {
	margin-right: 10px;
	padding: 10px;
}
.nowplaying svg{
	width: 45px;
	height: 45px;
}
.button{
	cursor: pointer;
}
.button:hover{
	background: #666;
}

/* big track single view */
.bigTrack{
	width: 100%;
	max-width: 500px;
	border-radius: 4px;
	box-shadow: #333 0px 0px 25px;
}
.bigTrack .controlAnchor{
	position: relative;
}
.bigTrack .control{
	position: absolute;
	/* will be resized at runtime! */
	top: -500px;
	height: 500px;
	width: 500px;
	right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.bigTrack img{
	width: 100%;
	display: block;
	border-radius: 4px;
}
.bigTrack .caption{
	padding: 15px;
	margin-top: -70px;
	height: 70px;
	background: rgba(200, 200, 200, 0.5);
	position: relative;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.icons svg{
	height: 48px;
	padding: 5px 0;
	margin: 10px 0;
}
.icons a{
	text-decoration: none;
}
.icons a:hover svg{
	background: #DDD;
}
.icons{
	text-align: center;
	padding-top: 20px;
}

.cis{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media(max-width: 500px){
	.desktopOnly{
		display: none;
	}
}
@media(min-width: 500px) and (min-height: 500px){
	.mobileOnly{
		display: none;
	}
	.b-cis{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}